*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html,body{
		font-family: 'Open Sans', sans-serif;
		height: 100%;
	}


  .wrapper {
  	display: flex;
  	flex-direction: column;
  	min-height: 100%;
  }
  .content {
  	flex: 1 0 auto;
  }
  .footer {
  	flex: 0 0 auto;
    background-color: #282d31;
    color: #ffffff;
    border-top: 3px solid #0082cc;
    padding-top: 25px;
    padding-bottom: 115px
  }


.footer-root{
  font-size: 12px;
  line-height: 1.5;
}

.footer-links{
  margin-right: 90px;
}


.footer-links a{
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}


.footer-links a:hover{
    text-decoration: underline;
}

.footer-numbers{
  font-size: 12px;
}


.footer-title{
    color: #696969;
}

.footer-information{
  display: flex;
}


.footer-logo{
  display: flex;
  flex-direction: column;
  margin-left: 22%;
  margin-right: 95px;
}

.title-icons{
  font-size: 12px;
}


.footer-icons{
  margin-left: 165px;
}


.contacts-header{
  background-color: #edf6ff;
  display: flex;
  padding-top: 14px;
  padding-bottom: 10px;
}


.contacts-header-text{
  font-size: 17px;
  margin-left: 12px;
  padding-top: 3px;

}


.contacts-header-text a{
  color: #027cc9;
}


.contacts-header-imag{
  margin-left: 75%;
}

.information-header{
  margin-top: 25px;
  margin-bottom: 30px;
  display: flex;
}


.information-header-address{
  color: #696969;
  font-weight: 500;
  padding-top: 25px;
  font-size: 12px;
  font-weight: bold;
  margin-right: 75px;
}


.information-header-imag{
  margin-left: 20%;
  margin-right: 100px;
}


.information-header-numbers{
  display: flex;
  display: column;
}


.information-header-number{
  font-weight: bold;
  margin-right: 40px;
  margin-top: 5px;
}


.information-header-block{
  display: flex;
}


.information-header-name{
  display: flex;
  flex-direction: column;
}


.title-number{
  margin-left: 46px;
  font-size: 12px;
  font-weight: bold;
}


.information-header-icon{
  margin-right: 16px;

}


.header-navigation{
  background-color: #0082cc;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}


.header-navigation a{
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  margin-right: 16px;
  margin-left: 16px;
  font-size: 13px;
}


.header-navigation a:hover{
    text-decoration: underline;
}

.news-content{
  margin-left: 28%;
  margin-right: 28%;
  margin-top: 40px;
	margin-bottom: 40px;
}


.line-news{
  border-bottom: 1px solid #e0e0e0;
	margin: 25px 0px 25px 0px
}

.news-block{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.news-information{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}


.name-of-news a{
  text-decoration: none;
  color: #000000;
  padding-left: 30px;
  font-weight: bold;
}


.name-of-news a:hover{
  text-decoration: underline;
}


.date-of-news{
  padding-left: 30px;
  padding-top: 20px;
}


.date-of-one-news{
	padding-left: 30px;
	padding-top: 10px;
}

.news-text{
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.news-more{
  padding-left: 30px;
  padding-top: 30px;

}

.news-more a{
  text-decoration: none;
  color: #696969;
  font-size: 12px;
}

.news-more a:hover{
  text-decoration: underline;
}

.news-logo{
  font-size: 38px;
  margin-bottom: 20px;
}

.news-way a{
  text-decoration: none;
  color: #0082cc;
}

.announcement-img{
	height : 200px;
  width : 200px;
  object-fit: cover;
	object-position: 50% 50%;
}

.announcement-back a{
	text-decoration: none;
  color: #0082cc;
}

.news-comment{
	margin-top: 40px;
	font-size: 38px;
  margin-bottom: 20px;
}

.name-commentors{
	padding-left: 30px;
	color: #0082cc;
	font-size: 20px;
	font-weight: bold;
}

.comment-profile{
	display: flex;
	flex-direction: row;
}

.date-of-comment{
	font-size: 12px;
	color: #696969;
	margin-left: 20px;
}

.comments-form{
	margin-top: 40px;
}


.size-name-of-commenter{
	height: 41px;
	width: 250px;
	padding-left: 20px;
	margin-bottom: 20px;
}


.size-text-of-commenter{
	height: 100px;
	width: 515px;
	padding-left: 20px;
	margin-bottom: 20px;
}


.size-button-comments{
	height: 40px;
	width: 232px;
}


.about-inf{
	text-align: center;
	margin-top: 45px;
}

.index-block-style{
	display: flex;
	flex-direction: column;
	padding: 30px 22px 55px 22px;
	margin-right: 15px;
	margin-left: 15px;
	text-align: center;
	border: 1px solid #e0e0e0;
	border-top: 3px solid #0082cc;
}


.index-block-title{
	color: #0082cc;
	padding-top: 25px;
	height: 41px;
	width: 221px;
}

.index-block-discribe{
	color: #696969;
	padding-top: 25px;
	height: 120px;
	width: 221px;
}

.index-links {
	text-decoration: none;
}

.index-block-style:hover{
	border-top: 3px solid red;
}


.blocks-row{
	display: flex;
	flex-direction: row;
}


.index-content{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
	margin-bottom: 40px;
}


.slider-img{
	height : 460px;
  width : 840px;
  object-fit: cover;
	object-position: 50% 50%;
}

.slider-line{
	height: 460px;
	width: 3360px;
	display: flex;
	position: relative;
	left: 0;
	transition: all ease 1s;
}
.slider{
	width: 840px;
	height: 460px;
	margin: 30px auto;
	overflow: hidden;
}

.container-line{
	display: flex;
	flex-direction: row;
	margin-left: 88px;
	margin-bottom: 20px;
}


.slider-prev{
		width: 0;
		height: 0;
		border-top: 30px solid transparent;
		border-bottom: 30px solid transparent;
		border-right: 50px solid #0082cc;
		background: white;
		border-left: white;
		margin-right: 10px;
		margin-top: 205px;
	}

	.slider-next{
		width: 0;
		height: 0;
		border-top: 30px solid transparent;
		border-bottom: 30px solid transparent;
		border-left: 50px solid #0082cc;
		background: white;
		border-right: white;
		margin-left: 10px;
		margin-top: 205px;
	}


.map-index{
	margin-top: 50px;
	text-align: center;
}
