{% extends 'HCS_site/base.html' %}

{% block title %}

Новости - ООО УК ЖКХ Октябрьского района

{% endblock %}


{% block content %}
<div class="news-content">
  <div class="news-logo">
    Новости
  </div>
  <div class="news-way">
    <a href="{% url 'index' %}">Главная</a> » Новости
  </div>

  {% for news in object_list %}
  {% load static %}
  <div class="news-block">
    <img src="{% static 'HCS_site/img/icon_for_news.jpg' %}"/>
    <div class="news-information">
      <div class="name-of-news">
        <a href="{{news.id}}/">{{news.name_of_news}}</a>
      </div>
      <div class="date-of-news">
        {{news.date_of_news}}
      </div>
      <div class="news-more">
        <a href="{{news.id}}/">Подробнее »</a>
      </div>
    </div>
  </div>
  <div class="line-news"></div>

  {% endfor %}

</div>
{% endblock %}
