{% extends 'HCS_site/base.html' %}


{% block content %}

<h1>Описание новости</h1>

{{object.name_of_news}}

<h2>Комментарии:</h2>
{% for comment in object.comments_set.all %}

{{ comment.name_of_commenter }}

{% endfor %}
<form action = "{% url 'add_comment' object.id %}" method="post">
  {% csrf_token %}
  <input type="text" placeholder="Ваше имя" name = "name_of_commenter"><br>
  <input type="text" placeholder="Ваш комментарий" name = "text_of_comment">
  <button type="submit" value="Отправить">OK</button>
</form>

{% endblock %}
